$brand: #000077;
$brandText: #ffffff;
$text: #000000;
$error: red;
$errorText: #ffffff;

$margin-xl: 48px;
$margin-lg: 32px;
$margin-sm: 16px;
$margin-xs: 8px;

$border-lg: 16px;
$border-sm: 8px;
$border-xs: 4px;

$text-xxl: 32px;
$text-xl: 26px;
$text-lg: 20px;
$text-sm: 14px;
$text-xs: 12px;

$icon-sm: 16px;
