.row {
    display: flex;
    column-gap: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid $brand;
    }

    &_selected {
        background: $brand;

        .row__column {
            color: $brandText;
        }

        .row__link {
            color: $brandText;
        }
    }

    &_can-select {
        cursor: pointer;
    }

    &_heading {

        .row__column {
            font-weight: 700;
        }
    }

    &__column {
        flex: 1;
        text-align: center;
        font-size: $text-sm;
        padding: $margin-xs 0;
    }

    &__link {
        color: $brand;
        text-decoration: none;
    }
}
